<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>

  <div class="info">
    <strong>Автор </strong>
    <small>12.09.2012</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta id molestiae nihil reprehenderit? Accusamus amet aut dolores eaque earum est explicabo, ipsum iste iure magni nostrum pariatur placeat quasi repellendus sed. Accusantium architecto beatae culpa dolore esse eveniet quo unde? Autem consequatur impedit molestias nostrum quae ratione sunt veniam vero.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta id molestiae nihil reprehenderit? Accusamus amet aut dolores eaque earum est explicabo, ipsum iste iure magni nostrum pariatur placeat quasi repellendus sed. Accusantium architecto beatae culpa dolore esse eveniet quo unde? Autem consequatur impedit molestias nostrum quae ratione sunt veniam vero.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta id molestiae nihil reprehenderit? Accusamus amet aut dolores eaque earum est explicabo, ipsum iste iure magni nostrum pariatur placeat quasi repellendus sed. Accusantium architecto beatae culpa dolore esse eveniet quo unde? Autem consequatur impedit molestias nostrum quae ratione sunt veniam vero.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta id molestiae nihil reprehenderit? Accusamus amet aut dolores eaque earum est explicabo, ipsum iste iure magni nostrum pariatur placeat quasi repellendus sed. Accusantium architecto beatae culpa dolore esse eveniet quo unde? Autem consequatur impedit molestias nostrum quae ratione sunt veniam vero.</p>
  </div>
</div>
